XYZGymSolutionSetA/GymMangement/Connected Services/ServiceReference2/GymWcfServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GymWcfServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GymWcfServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GymMember">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberShipDuration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberShipStartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PhoneNumber" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GymMember" nillable="true" type="tns:GymMember" />
</xs:schema>